$include /etc/inputrc

set show-all-if-ambiguous On
# Цвет файла в зависимости от типа
# Может вызвать мерцание текста в некоторых терминалах (например, xterm)
set colored-stats On
# Добавление символа для обозначения типа
set visible-stats On
# Пометить каталоги-ссылки
set mark-symlinked-directories On
# Цветовое выделение общего префикса
set colored-completion-prefix On
# Цветовое выделение общего префикса и завершение с помощью меню
set menu-complete-display-prefix On
# Отключение в терминале строку ^C при нажании Ctrl+C
set echo-control-characters off
# Игнорировать регистр
set completion-ignore-case On
#
# set completion-display-width 0
set completion-query-items 1000

"\e[A": history-search-backward
"\e[B": history-search-forward

"\e[1;5D": backward-word
"\e[1;5C": forward-word

#######################################################
# "\C-f":"cd /home/jake/.config"
# "\C-b":"cd ..\n"
# "\C-h":"cd\n"
# "\C-w":"webserver\n"
#
# Execute zi (from zoxide pkg) command by pressing CTRL-f
# bind '"\C-f":"zi\n"' - it for .bashrc
"\C-f":"zi\n"
"\es":"\C-asudo \C-e"
